*{
    font-family: sans-serif;
}

.content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 376px) {
  .content {
    font-size: 100%;
  }
  #intro-talk {
    padding: 3%;
    }
}

@media screen and (max-width: 375px) {
  .content {
    font-size: 80%;
  }
  #intro-talk {
    padding: 6%;
  }
}

.list-item {
    padding: 1%;
}

h3 {
    color: #71838D;
}

h1 {
    color: #001;
}

#intro-talk {
    background-color: #BEB9A6;
    color: #000;
    width: 25%;
    min-width: 250px;
    border-radius: 20%;
    box-shadow: 10px 10px grey;
    line-height: 18px;
}

a {
    color: #000;
}

#social img{
    opacity: 0.9;
    max-width: 10%;
}
#social img:hover{
    opacity: 0.6;
}

#bandcamp iframe{
    width: 100%;
    border:0;
    height: 47px;
}
